{% extends "base.html" %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}

<div class="hero-page">
    <h1 class="home-tittle">Change Password</h1>
    <p>Keep your account secure</p>
</div>

<section class="account">
    <div class="account-wrapper">

        {% include "account_sidebar.html" %}

        <div class="account-content">
            <h2>Update Password</h2>

            <form method="post" class="account-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>

    </div>
</section>

{% endblock %}
